<div class=" style pb-5">
    <h1>CONATCT SECTION</h1>
    <i class="fa-solid fa-star fa-2x p-2"></i>
    <div class=" w-50">
        <div class="form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">userName</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control " id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">userAge</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">userEmail</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">userPassword</label>
          </div>
          <button class="btn btn-info mt-3">send Message</button>
    </div>

    
</div>
