<div class="style p-5 mt-5  ">
    <h1 class="pt-5">PORTFOLIO COMPONENT</h1>
    <i class="fa-solid fa-star fa-2x p-2"></i>
    
    
    <div class="container  ">
        <div class="row g-5 p-5 mb-5  ">
            <div class="col-md-4 position-relative ">
                <div class="imges  ">
                    <img src="./assets/img/poert1.png" class="w-100 rounded-3 overflow-hidden " alt="">
                    <div class="hov d-flex justify-content-center align-items-center rounded-3 text-truncate   ">
                        <i class="fa-solid fa-circle-plus fa-10x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 position-relative ">
                <div class="imges  ">
                    <img src="./assets/img/port2.png" class="w-100 rounded-3 overflow-hidden " alt="">
                    <div class="hov d-flex justify-content-center align-items-center rounded-3 text-truncate   ">
                        <i class="fa-solid fa-circle-plus fa-10x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 position-relative ">
                <div class="imges  ">
                    <img src="./assets/img/port3.png" class="w-100 rounded-3 overflow-hidden " alt="">
                    <div class="hov d-flex justify-content-center align-items-center rounded-3 text-truncate   ">
                        <i class="fa-solid fa-circle-plus fa-10x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 position-relative ">
                <div class="imges  ">
                    <img src="./assets/img/poert1.png" class="w-100 rounded-3 overflow-hidden " alt="">
                    <div class="hov d-flex justify-content-center align-items-center rounded-3 text-truncate   ">
                        <i class="fa-solid fa-circle-plus fa-10x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 position-relative ">
                <div class="imges  ">
                    <img src="./assets/img/port2.png" class="w-100 rounded-3 overflow-hidden " alt="">
                    <div class="hov d-flex justify-content-center align-items-center rounded-3 text-truncate   ">
                        <i class="fa-solid fa-circle-plus fa-10x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 position-relative ">
                <div class="imges  ">
                    <img src="./assets/img/port3.png" class="w-100 rounded-3 overflow-hidden " alt="">
                    <div class="hov d-flex justify-content-center align-items-center rounded-3 text-truncate   ">
                        <i class="fa-solid fa-circle-plus fa-10x"></i>
                    </div>
                </div>
            </div>

           
        </div>
        
    </div>
    
</div>